<!DOCTYPE html>
<html id="html">
  <head>
    <title>jquery-ujs test</title>
    <link href="/qunit.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
    <style> .fixture { text-indent: -9000em; } </style>
    <script src="/vendor/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/vendor/qunit.js" type="text/javascript"></script>
    <script src="/vendor/rails.js" type="text/javascript"></script>

    <script src="/test/settings.js" type="text/javascript"></script>
    <script src="/test/data-confirm.js" type="text/javascript"></script>
    <script src="/test/data-remote.js" type="text/javascript"></script>
    <script src="/test/data-disable.js" type="text/javascript"></script>
    <script src="/test/call-remote.js" type="text/javascript"></script>
    <script src="/test/call-remote-callbacks.js" type="text/javascript"></script>
    <script src="/test/data-method.js" type="text/javascript"></script>
  </head>

  <body id="body">
    <h1 id="qunit-header">jquery-ujs test</h1>
    <h2 id="qunit-banner"></h2>
    <h2 id="qunit-userAgent"></h2>
    
    <ol id="qunit-tests"></ol>

    <div id='fixtures' class='fixture'></div>

    <div id='fixtures-iframe' class='fixture'>
      <iframe onload="this.loaded=true;" src="<%=@app_base_url%>/iframe" width=450 height=100>
        <div class='iframe'>
          <div id='iframe_form'></div>
        </div>  
      </iframe>
    </div>

    <div id='fixtures-iframe-csrf' class='fixture'>
      <iframe onload="this.loaded=true;" src="<%=@app_base_url%>/iframe-csrf" width=450 height=100>
        <div class='iframe'>
          <div id='iframe_form'></div>
        </div>  
      </iframe>
    </div>

    <div class="fixture settings {host: '<%=@base_url%>', port: '<%=@port%>', ajax_timeout: '<%=@ajax_timeout%>'} "></div>

  </body>

</html>
