<% @title = "jquery-ujs test" %>

<%= test 'data-confirm', 'data-remote', 'data-disable', 'call-remote', 'call-remote-callbacks', 'data-method' %>

<h1 id="qunit-header">
  jquery-ujs test
  <%= jquery_link '1.4.3' %>
  <%= jquery_link '1.4.4' %>
  <%= jquery_link 'edge' if File.exist?(settings.root + '/public/vendor/jquery.js') %>
</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>

<ol id="qunit-tests"></ol>

<div id='fixtures' class='fixture'></div>

<div id='fixtures-iframe' class='fixture'>
  <iframe onload="this.loaded=true;" src="/iframe?version=<%= params[:version] %>" width=450 height=100>
  </iframe>
</div>

<div id='fixtures-iframe-csrf' class='fixture'>
  <iframe onload="this.loaded=true;" src="/iframe?csrf=true&amp;version=<%= params[:version] %>" width=450 height=100>
  </iframe>
</div>

<div class="fixture settings {host: '<%= @base_url %>', port: '<%= @port %>', ajax_timeout: '<%= @ajax_timeout %>'} "></div>
